<html>
{% load staticfiles %}
<head>
	<title>SDU Inventory</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static 'inventory/style.css' %}" />
</head>
<body>
	<div class="content">
		
		<div class="top_block H1">
			<div class="content">
				<h1>SDU Hardware List</h1>
			</div>
		</div>

		<div class="background menu">
		</div>
		<div class="left_block menu">
			<div class="content">
				<h3><u>Menu</u></h3>
				<li>
					<a href="{% url "new-hardware" %}">add hardware</a>
				</li><li>
					<a href="{% url "list-project" %}">project list</a>
				</li><li>
					<a href="{% url "list-user" %}">user list</a>
				</li><li>
					<a href="{% url "list-userrel" %}">user relation list</a>
				</li><li>
					<a href="{% url "list-resources" %}">resources list</a>
				</li>
			</div>
		</div>

		<div class="background main">
		</div>
		<div class="center_block main">
			<div class="content">
				<ul>
  					{% for hardware in object_list %}
    					<li>
      					(<a href="{% url "edit-hardware" pk=hardware.id %}">edit</a>)
      					{{ hardware }}
    					</li>
  					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</body>
</html>

