<html>
{% load staticfiles %}
<head>
	<title>SDU Users</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static 'inventory/style.css' %}" />
</head>
<body>
	<div class="content">
		
		<div class="top_block H1">
			<div class="content">
				<h1>SDU User List</h1>
			</div>
		</div>

		<div class="background menu">
		</div>
		<div class="left_block menu">
			<div class="content">
				<h3><u>Menu</u></h3>
				<li>
					<a href="{% url "new-user" %}">add user</a>
				</li><li>
					<a href="{% url "list-hardware" %}">list hardware</a>
				</li><li>
					<a href="{% url "list-project" %}">list project</a>
				</li><li>		
					<a href="{% url "list-userrel" %}">list user relations</a>
				</li><li>		
					<a href="{% url "list-resources" %}">list resources</a>
				</li>
			</div>
		</div>

		<div class="background main">
		</div>
		<div class="center_block main">
			<div class="content">
				<ul>
  					{% for user in object_list %}
    					<li>
      					(<a href="{% url "edit-user" pk=user.id %}">edit</a>)
      					{{ user }}
					</li>
    					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</body>
</html>

