<html>
{% load staticfiles %}
<head>
	<title>SDU User Relations</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static 'inventory/style.css' %}" />
</head>
<body>
	<div class="content">
		
		<div class="top_block H1">
			<div class="content">
				<h1>SDU User-Rel List</h1>
			</div>
		</div>

		<div class="background menu">
		</div>
		<div class="left_block menu">
			<div class="content">
				<h3><u>Menu</u></h3>
				<li>
					<a href="{% url "new-userrel" %}">add user relation</a>
				</li><li>
					<a href="{% url "list-hardware" %}">list hardware</a>
				</li><li>
					<a href="{% url "list-project" %}">list project</a>
				</li><li>		
					<a href="{% url "list-user" %}">list users</a>
				</li><li>		
					<a href="{% url "list-resources" %}">list resources</a>
				</li>
			</div>
		</div>

		<div class="background main">
		</div>
		<div class="center_block main">
			<div class="content">
				<ul>
  					{% for userrel in object_list %}
    					<li>
      					(<a href="{% url "edit-userrel" pk=userrel.id %}">edit</a>)
      					{{ userrel }}
					</li>
    					{% endfor %}
				</ul>
<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Sample Size', 'AVG CL', 'AVG SEV', 'Project Name', 'Sample Size'],
          ['78',   3.51282051,  3.43589744,      'VMDC30 - 78', 78],
          ['29',   4.13793103,  3.17241379,      'VMDC301 - 29', 29],
          ['5',   3.8,  2.6,      'VMDC40 - 5', 5],
          ['44',   1,  3.1,      'OpenStack - 44', 44],
          ['60',   3.2,  1.9,      'Anuta - 60', 60],
          ['40',   2,  3,      'DRaaS - 40', 40],
          ['42',   3.2,  3.2,      'Zenoss - 42', 42],
          ['12',   4.8,  3.2,     'CLM-BMC - 12', 12],
          ['80',   5.5,  5.5,     'DIFF-PROJ - 80', 80]
        ]);

        var options = {
          title: 'SDU System Health Metric',
          bubble: {textStyle: {fontSize: 11}, opacity: .75},
          hAxis: {maxValue: 6, minValue: 0, gridlines: {count: 7}},
          vAxis: {maxValue: 5.5, minValue: 1, gridlines: {count: 6}, direction: -1},
          sortBubblesBySize: true,
          sizeAxis: {minValue: 0, maxSize: 57},
          backgroundColor: 'none'
        };

        var chart = new google.visualization.BubbleChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="brand_div"><div id="chart_div" style="width: 900px; height: 700px;"></div></div>
  </body>
</html>
			</div>
		</div>
	</div>
</body>
</html>

