html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; 
}

#brand_div{
    background: url(http://i.imgur.com/jxyRabl.png) no-repeat;
    background-size: 555px 432px;
    background-position: 172px 135px;
}

.content {
	min-height: 100%;
	position: relative;
	overflow: auto;
	z-index: 0; 
}

.background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.top_block {
	width: 100%;
	display: block; 
}

.bottom_block {
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0; 
}

.left_block {
	display: block;
	float: left; 
}

.right_block {
	display: block;
	float: right; 
}

.center_block {
	display: block;
	width: auto; 
}

.H1 {
	width: 100%;
	height: 80px;
	background-color: #3366ff;
}

.background.menu {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	width: 200px;
	background-color: #33CC00;
	margin-top: 80px; 
}

.menu {
	height: auto;
	width: 200px;
	padding-bottom: 0px;
}

.background.main {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	right: 0;
	background-color: #FFFFFF;
	margin-top: 80px;
	margin-left: 200px; 
}

.main {
	width: auto;
	height: auto;
	padding-bottom: 0px;
}
